/Exam1/Exam1/bin
/Exam1/Exam1/obj
/Exam2/Exam2/bin
/Exam2/Exam2/obj
/Exam3/Exam3/bin
/Exam3/Exam3/obj
/Exam4/Exam4/bin
/Exam4/Exam4/obj
/Exam5/Exam5/bin
/Exam5/Exam5/obj
/Palindrome/Palindrome/bin
/Palindrome/Palindrome/obj
